src/main/resources/xsd/commons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:tns1="http://com.Agua" targetNamespace="http://com.Agua"> 
    <xs:element name="ack">
        <xs:annotation>
            <xs:documentation>Estructura de mensajes</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="code" type="xs:int"></xs:element>
                <xs:element name="description" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
